pkgbase = proton-drive-fs-git
	pkgdesc = FUSE virtual filesystem for Proton Drive on Linux.
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/khaosdoctor/proton-drive-linux-fs
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = go
	depends = fuse3
	optdepends = zenity: About dialog
	optdepends = libsecret: store the key password in the OS keyring
	provides = proton-drive-fs
	conflicts = proton-drive-fs
	conflicts = proton-drive-fs-bin
	source = proton-drive-fs-git::git+https://github.com/khaosdoctor/proton-drive-linux-fs.git
	sha256sums = SKIP

pkgname = proton-drive-fs-git
